<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>湖南人家啦啦啦</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>

  <h1>湖南人家</h1>
  <div id="app" v-cloak>

    <div class="left-box">
      <el-tabs type="card" stretch="true">

        <el-tab-pane label="随机菜单">

          <div class="random-config">
            <el-form ref="form" :modle="randomConfig" :inline="true" size="medium" label-width="50px">
              <el-form-item label="菜数">
                <el-input-number v-model="randomConfig.dishNum" controls-position="right" :min="1" :max="10"></el-input-number>
              </el-form-item>
              <el-form-item label="人数">
                <el-input-number v-model="randomConfig.personNum" controls-position="right" :min="1" :max="10"></el-input-number>
              </el-form-item>
              <el-form-item>
                <el-button class="random-button" type="primary" @click="generateRandomRecipe" round>生成菜单</el-button>
              </el-form-item>
            </el-form>
          </div>

          <div class="random-result">
            <div class="left-box-recipe-title">
              <div>菜名</div>
              <div>价格</div>
              <div>类型</div>
            </div>
            <div class="left-box-recipe-content" v-for="(dish, index) in myRecipe" :key="index">
              <div>{{dish.name}}</div>
              <div>{{dish.price | concatUnit}}</div>
              <div>{{dish.type | mapDishType}}</div>
            </div> 
          </div>

          <div class="random-price" v-if="totalPrice">
            <div class="total-price">总价: {{totalPrice}}元</div>
            <div class="per-price">人均: {{perPrice}}元</div>
          </div>

        </el-tab-pane>

        <el-tab-pane label="自定义菜单">自定义菜单</el-tab-pane>

        <el-tab-pane label="查看菜单">
          <div class="left-box-menu">
            <div class="left-box-menu-title">湖南人家</div>  
            <div class="left-box-menu-decription">*菜单仅供参考,请以实际菜单为准</div>
          </div>
          <div class="left-box-recipe-title">
            <div>菜名</div>
            <div>价格</div>
            <div>类型</div>
          </div>
          <div class="left-box-recipe-content" v-for="(dish, index) in recipe" :key="index">
            <div>{{dish.name}}</div>
            <div>{{dish.price | concatUnit}}</div>
            <div>{{dish.type | mapDishType}}</div>
          </div> 
        </el-tab-pane>

      </el-tabs>
    </div>

    <div class="right-box">
      <div class="right-title">选择的菜单</div>
      <div class="right-content">
        {{detailRecipe}}
      </div>
    </div>

  </div>

  <script src="libs/ajax.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</body>

<script type="text/javascript">

  const typeMap = {
    1: '荤菜',
    2: '素菜',
    3: '汤',
    4: '半荤',
  }

  const fetch = new Fetch({
    baseUrl: 'https://api.ruyixianhua.cn'
  });

  new Vue({
    el: '#app',
    data() {
      return {
        recipe: [],
        myRecipe: [],
        totalPrice: 0,
        perPrice: 0,
        randomConfig: {
          personNum: 1,
          dishNum: 1,
        },
      }
    },
    computed: {
      detailRecipe() {
        const newRecipe = [];
        return this.myRecipe.reduce((newRecipe, current) => {
          const { type } = current;
          newRecipe[type] ? newRecipe[type].push(current) : newRecipe[type] = [current];
          return newRecipe;
        }, newRecipe)
      }
    },
    created() {
      fetch.ajax('GET', '/fun/orderMenu/getDish?menu_id=10000')
        .then(data => {
          this.recipe = data.body.dishList;
        })
    },
    methods: {
      // 生成随机菜单
      generateRandomRecipe() {
        const { recipe, randomConfig } = this;
        let { personNum, dishNum} = randomConfig;
        const { meatNum, vegeNum, soupNum} = this.getRecipeStructure(dishNum);
        this.myRecipe = this.buildRecipe({
          meatNum,
          vegeNum,
          soupNum,
        });

        this.totalPrice = this.myRecipe.reduce((total, value)=> {
          total += parseInt(value.price);
          return total;
        }, 0);
        this.perPrice = (this.totalPrice / personNum).toFixed(2);
      },
      // 获取菜单中各类型的组成结构
      getRecipeStructure(dishNum) {
        const meatNum = Math.ceil((dishNum - 1) / 2);
        const vegeNum = dishNum - 1 - meatNum;
        const soupNum = 1;
        return {
          meatNum,
          vegeNum,
          soupNum,
        }
      },
      // 组成菜单
      buildRecipe(config) {
        const { meatNum, vegeNum, soupNum} = config;
        const vegetable = this.recipe.filter(value => value.type === 2);
        const soup = this.recipe.filter(value => value.type === 3);
        const meat = this.recipe.filter(value => value.type === 1);

        const meatArr = this.getDiffValue(meatNum, meat);
        const vegeArr = this.getDiffValue(vegeNum, vegetable);
        const soupArr = this.getDiffValue(soupNum, soup);
        
        return [...meatArr, ...vegeArr, ...soupArr];
      },
      // 根据数量生成随机不同的菜
      getDiffValue(num, arr) {
        const newArr = []
        while(num) {
          const index = parseInt(this.getRandom(1, arr.length));
          const isNotIncluded = !newArr.some(value => value.name === arr[index].name);
          if(isNotIncluded) {
            newArr.push(arr[index]);
            num --;
          }
        }
        return newArr;
      },
      // 获取随机整数
      getRandom (min = 1, max) {
        if(max < min) return 1;
        return Math.random() * (max - min) + min;
      }
    },
    filters: {
      concatUnit(value) {
        if(!value || typeof value !== 'string') return '';
        return value.split('.')[0] + ' 元';
      },
      mapDishType(type) {
        if(!type || typeof type !== 'number') return '';
        return typeMap[type];
      }
    }
  })
</script>
</html>
