body {
  margin: 0;
  padding: 0;
}
/* .recipe-box {

}
.item {
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50px;
} */

/* 通用样式 */
html {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

div {
  box-sizing: border-box;
}

:root {
  --blue: #409EFF;
  --success: #67C23A;
  --warning: #E6A23C;
  --danger: #F56C6C;
  --info: #909399;

  --text-1: #303133;
  --text-2: #606266;
  --text-3: #909399;
  --text-4: #C0C4CC;
  --border-1: #DCDFE6;
  --border-2: #E4E7ED;
  --border-3: #EBEEF5;
  --border-4: #F2F6FC;
  
}

/* 组件样式 */
#app {
  height: 100%;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}

.left-box, .right-box {
  width: 50%;
  padding-left: 20px;
}

.right-title {
  height: 40px;
  line-height: 40px;
  color: var(--blue);
}

/* 菜单列表 */

.left-box-recipe-content, .left-box-recipe-title {
  display: flex;
  justify-content: space-around;
}

.left-box-recipe-content div {
  width: 100%;
  text-align: center;
  color: var(--text-2);
}

.left-box-recipe-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--text-1);
}

.left-box-menu-decription {
  color: var(--danger);
  text-align: center;
  font-size: 12px;
}

.left-box-menu {
  margin-bottom: 10px;
}

.left-box-menu-title {
  font-size: 18px;
  text-align: center;
  color: var(--blue);
  font-weight: bold;
}

/* 随机菜单 */

.random-button {
  margin: 0 auto !important;
  display: block !important;
}

.random-price {
  margin-top: 10px;
}

/* 选择的菜单 */
.type-list {
  display: flex;
  padding: 5px 0 5px 50px;
}

.type-title {
  margin-bottom: 20px;
}

.right-content-type {
  margin-bottom: 20px;
}

/* 自定义菜单 */
.modify-recipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}

.modify-recipe .el-transfer-panel {
  width: 50%;
  height: 100%;
}

.modify-recipe .el-transfer-panel .el-transfer-panel__body, .el-transfer-panel .el-checkbox-group.el-transfer-panel__list {
  height: 100%;
}